.button {
  all: unset;
  cursor: pointer;
  user-select: none;
  padding: 0 20px;
  height: 42px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: none;
  border-radius: var(--button-border-radius);
  transition: all 0.3s;
}

.button_0 {
  width: fit-content;
  margin: auto;
  padding: 0 30px;
  background: linear-gradient(90deg, #ec4899, #a855f7, #ec4899);
  background-size: 200% 200%;
  color: var(--lightgray);
  font-weight: var(--semibold);
  z-index: 0;
  position: relative;
  transition: 0.6s all;
  &:hover {
    background-position: 100% 50%;
  }
}
.button_1 {
  width: max-content;
  margin: auto;
  padding: 0 30px;
  background: linear-gradient(90deg, #06b6d4, #3b82f6, #06b6d4);
  background-size: 200% 200%;
  color: var(--lightgray);
  font-weight: var(--semibold);
  z-index: 0;
  position: relative;
  transition: 0.6s all;
  &:hover {
    background-position: 100% 50%;
  }
}
.button_2{
  width: max-content;
  margin: auto;
  padding: 0 30px;
  background: #2c2c2c;
  color: var(--lightgray);
  font-weight: var(--semibold);
  z-index: 0;
  position: relative;
}